* {
	box-sizing: border-box;
}

@font-face {
	font-family: Brandon;
	src: url("./Brandon.otf") format("opentype");
}

.calendar-wrapper {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 288px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	user-select: none;
	visibility: visible;
}

.picker-holder {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 289px;
	left: -96.575px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 400px;
	opacity: 1;
	overflow-y: auto;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-size-adjust: 100%;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166667, 0, 0, 0, 1);
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	visibility: visible;
	width: 353px;
	-webkit-font-smoothing: antialiased;
}

.picker-frame {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 288px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	user-select: none;
	visibility: visible;
	width: 352px;
	-webkit-font-smoothing: antialiased;
}

.picker-box {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-size: 16px;
	font-weight: 500;
	height: 288px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	text-size-adjust: 100%;
	user-select: none;
	visibility: visible;
	width: 353px;
	-webkit-font-smoothing: antialiased;
	font-family: Brandon;
}

.calendar-header {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-size-adjust: 100%;
	font-family: Brandon;
	height: 15.454;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.picker-month {
	display: inline-block;
	margin-left: 4px;
	margin-right: 0.25rem;
	font-size: 16px;
	font-weight: 400;
}

.calendar-table {
	border-bottom-color: rgb(128, 128, 128);
	border-collapse: collapse;
	border-left-color: rgb(128, 128, 128);
	border-right-color: rgb(128, 128, 128);
	border-top-color: rgb(128, 128, 128);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: table;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 224px;
	line-height: 16px;
	margin-top: 16px;
	table-layout: fixed;
	text-align: center;
	text-size-adjust: 100%;
	user-select: none;
	visibility: visible;
	width: 320px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	-webkit-font-smoothing: antialiased;
}

.weekdays-header {
	width: 321px;
	height: 21px;
	color: #999999;
	border-bottom-style: solid;
	font-size: 0.875rem;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	text-transform: uppercase;
}
.weekday {
	width: 14.285714286%;
	padding-bottom: 0.5rem;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.calendar-day {
	cursor: default;
	height: 32px;
	text-align: center;
	width: 50px;
	line-height: 31.2px;
	border-radius: 100%;
	table-layout: fixed;
	width: 32px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: 500px;
	font-size: 16px;
	margin-left: 6.733px;
	margin-right: 6.733px;
}

.hoverDates:hover {
	color: #da3843;
	background-color: #f7d7d9;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	margin-left: 6.733px;
	margin-right: 6.733px;
	width: 32px;
	box-sizing: border-box;
	background-size: auto;
	border-collapse: collapse;
	text-align: center;
	cursor: pointer;
}


.today {
	background-color: #f2f2f2;
	color: #000000;
}

.selectedDay {
	background-color: rgb(218, 55, 67);
	margin-block: 6.733px;
	color: white;
}

.pastDatesStyle {
	color: rgba(0, 0, 0, 0.12);
}
.futureMonthStyle {
	color: #999;
}

.pastMonthStyle {
	color: #999;
}

.chevron-left {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/left-chevron.svg');
	width: 15px;
	height: 15px;
	filter: invert(18%) sepia(82%) saturate(3259%) hue-rotate(343deg)
		brightness(107%) contrast(75%);
}
.chevron-left:hover {
	cursor: pointer;
}

.chevron-right {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/right-chevron.svg');
	width: 15px;
	height: 15px;
	filter: invert(18%) sepia(82%) saturate(3259%) hue-rotate(343deg)
		brightness(107%) contrast(75%);
}
.chevron-right {
	cursor: pointer;
}
