@font-face {
	font-family: Brandon;
	src: url('https://s3-us-west-1.amazonaws.com/exzerone1/HVD%2BFonts%2B-%2BBrandonText-Medium.otf')
		format('font/otf');
}
.lowbar-menu {
	background-color: #fff !important;
	height: 2rem;
	line-height: 1.9rem;
	font-size: 0.75rem;
	border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
	border-bottom: none !important;
	padding: 0 1.25rem;
	position: relative;
	bottom: 131px;
	z-index:1;
	top:-10px;
	padding-left: 35px;
	padding-right:35px;
}

.lowbar-menu li:after {
	top: 0;
	border-top: 0.96rem solid transparent;
	border-bottom: 0.96rem solid transparent;
	border-left: 0.56rem solid #fff;
}

.lowbar-list-1 {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 16px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 31.7344px;
	-webkit-font-smoothing: antialiased;
}

/* .lowbar-list-1:hover {
	color: #19596f;
	cursor:pointer;
} */

.lowbar-list-1::before {
	top: -1px;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 0.6rem solid rgba(0, 0, 0, 0.2);
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-1::after {
	top: 0;
	border-top: 0.96rem solid transparent;
	border-bottom: 0.96rem solid transparent;
	border-left: 0.56rem solid #fff;
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-1-a {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-decoration-color: rgb(35, 123, 152);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-1-span {
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-1-span:hover {
	color: #19596f;
	cursor:pointer;
}

.lowbar-list-3-span:hover {
	color: #19596f;
	cursor:pointer;
}

.lowbar-list-4-span:hover {
	color: #19596f;
	cursor:pointer;
}

.lowbar-list-2 {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 5.6px;
	margin-right: 16px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 70.25px;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-2::before {
	top: -1px;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 0.6rem solid rgba(0, 0, 0, 0.2);
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-2::after {
	top: 0;
	border-top: 0.96rem solid transparent;
	border-bottom: 0.96rem solid transparent;
	border-left: 0.56rem solid #fff;
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-2-a {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-2-span {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-3 {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 5.6px;
	margin-right: 16px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 119.984px;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-3::before {
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
	top: -1px;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 0.6rem solid rgba(0, 0, 0, 0.2);
}

.lowbar-list-3::after {
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
	top: 0;
	border-top: 0.96rem solid transparent;
	border-bottom: 0.96rem solid transparent;
	border-left: 0.56rem solid #fff;
}

.lowbar-list-3-a {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-decoration-color: rgb(35, 123, 152);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-3-span {
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-4 {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 5.6px;
	margin-right: 16px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 70.8906px;
	-webkit-font-smoothing: antialiased;
}

.lowbar-list-4::before {
	top: -1px;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 0.6rem solid rgba(0, 0, 0, 0.2);
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-4::after {
	top: 0;
	border-top: 0.96rem solid transparent;
	border-bottom: 0.96rem solid transparent;
	border-left: 0.56rem solid #fff;
	content: '';
	position: absolute;
	left: 100%;
	margin-left: 0.25rem;
}

.lowbar-list-4-a {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-decoration-color: rgb(35, 123, 152);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-4-span {
	box-sizing: border-box;
	color: rgb(35, 123, 152);
	cursor: pointer;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-5 {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 5.6px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 59.5312px;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-5-a {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
.lowbar-list-5-span {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline;
	font-family: Brandon;
	font-size: 12px;
	font-weight: 500;
	height: auto;
	line-height: 30.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}
