@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.top-bar-navi {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 70.5875px;
}

.header-mobile-menu {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(113, 113, 113);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 28px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(113, 113, 113);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 70.5875px;
}

.menu-container-closed {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 80.8px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 1120px;
	min-width: 150px;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	right: 0px;
	text-align: left;
	text-size-adjust: 100%;
	transform: matrix3d(
		1,
		0,
		0,
		0,
		0,
		1,
		0,
		0,
		0,
		0.0216667,
		1,
		-0.00166667,
		0,
		-13,
		0,
		1
	);
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	width: 150px;
}

.menu-container-opened {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 80.8px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 1120px;
	min-width: 150px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	right: 0px;
	text-align: left;
	text-size-adjust: 100%;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166667, 0, 0, 0, 1);
	transition-delay: 0s, 0s, 0s, 0.15s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	width: 150px;
}

.menu-main {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 76.8px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
	width: 146px;
}

.menu-section {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	height: 76.8px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 350px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
	width: 146px;
}

.menu-list {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	height: 76.8px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
}

.menu-list-link {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(102, 102, 102);
	cursor: pointer;
	display: block;
	height: 38.4px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 12.8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12.8px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(102, 102, 102);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	user-select: none;
}
