@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.top-bar-navi {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 70.5938px;
	-webkit-font-smoothing: antialiased;
}

.header-mobile-menu {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(113, 113, 113);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	line-height: 28px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(113, 113, 113);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 70.5875px;
}

.header-mobile-menu:hover {
	color: #333;
}

.header-mobile-menu:hover:after {
	filter: invert(18%) sepia(16%) saturate(12%) hue-rotate(51deg) brightness(93%)
		contrast(90%);
}

.list-holder {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
}

.header-mobile-menu::after {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/down-chevron.svg');
	border-bottom-color: rgb(153, 153, 153);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(153, 153, 153);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(153, 153, 153);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(153, 153, 153);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(153, 153, 153);
	content: ' ';
	display: block;
	font-family: icons;
	font-size: 12.8px;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	line-height: 0px;
	margin-top: 0px;
	position: absolute;
	right: 0px;
	text-transform: none;
	top: 10.7px;
	width: 12.8px;
	height: 10px;
	z-index: 2;
	background-repeat: no-repeat;
	filter: invert(75%) sepia(4%) saturate(16%) hue-rotate(353deg) brightness(80%)
		contrast(94%);
}

.menu-container-closed {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 150px;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	right: 0px;
	text-align: left;
	text-size-adjust: 100%;
	transform: matrix3d(
		1,
		0,
		0,
		0,
		0,
		1,
		0,
		0,
		0,
		0.0216667,
		1,
		-0.00166667,
		0,
		-13,
		0,
		1
	);
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	width: 150px;
}

.menu-container-opened {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	/* height: 80.3214px; */
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	/* max-height: 1120px; */
	min-width: 150px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	right: 0px;
	/* top:25.5px; */
	text-align: left;
	text-size-adjust: 100%;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166667, 0, 0, 0, 1);
	transition-delay: 0s, 0s, 0s, 0.15s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	/* width: 150px; */
	-webkit-font-smoothing: antialiased;
}

.menu-section {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 350px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
}

.menu-list {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	user-select: none;
}

.menu-list-link {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(102, 102, 102);
	cursor: pointer;
	display: block;
	font-family: BrandonText, -apple-system, system-ui, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 13px;
	font-weight: 500;
	height: 38.5938px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 12.8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12.8px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(102, 102, 102);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	user-select: none;
	width: 146px;
	-webkit-font-smoothing: antialiased;
}

.menu-list-link:hover {
	background-color: #f7f7f7;
}

.menu-right-closed {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 0px;
	left: 0px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-align: left;
	text-size-adjust: 100%;
	top: 25.1964px;
	user-select: none;
	width: 70.5893px;
	z-index: 100;
	transition-delay: 0s;
	transition-property: opacity;
	transition-timing-function: linear;
	transition: opacity 2s linear;
	transition-duration: 0.3s;
	-webkit-font-smoothing: antialiased;
}

.menu-right-closed::before {
	content: '';
	display: block;
	height: 0px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
	transition-delay: 0s, 0s;
	transition-duration: 0.15s, 0.15s;
	transition-property: transform, opacity;
	transition-timing-function: ease-out, ease-out;
	width: 70.5938px;
}

/* .main-menu {
	background: #fff;
	border-radius: 3px;
} */

.main-section {
	width: 100%;
	max-height: 350px;
}

.menu-right-opened {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	height: 0px;
	left: 0px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-align: left;
	text-size-adjust: 100%;
	top: 25.1875px;
	user-select: none;
	width: 70.5938px;
	z-index: 100;
	transition-delay: 0s;
	transition-property: opacity;
	transition-timing-function: linear;
	transition: opacity 2s linear;
	transition-duration: 0.3s;
	-webkit-font-smoothing: antialiased;
}

.menu-right-opened::before {
	align-content: normal;
	align-items: normal;
	align-self: auto;
	alignment-baseline: auto;
	all: ;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-name: fadeIn;
	animation-play-state: running;
	animation-timing-function: ease;
	backface-visibility: visible;
	background-attachment: scroll;
	background-blend-mode: normal;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	baseline-shift: 0px;
	block-size: 12px;
	border-block-end-color: rgba(0, 0, 0, 0);
	border-block-end-style: solid;
	border-block-end-width: 6px;
	border-block-start-color: rgb(255, 255, 255);
	border-block-start-style: solid;
	border-block-start-width: 6px;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-collapse: separate;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-inline-end-color: rgba(0, 0, 0, 0);
	border-inline-end-style: solid;
	border-inline-end-width: 6px;
	border-inline-start-color: rgb(255, 255, 255);
	border-inline-start-style: solid;
	border-inline-start-width: 6px;
	border-left-color: rgb(255, 255, 255);
	border-left-style: solid;
	border-left-width: 6px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 6px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 6px;
	bottom: -8px;
	box-shadow: rgba(0, 0, 0, 0.15) -1px -1px 0px 0px;
	box-sizing: border-box;
	break-after: auto;
	break-before: auto;
	break-inside: auto;
	buffered-rendering: auto;
	caption-side: top;
	caret-color: rgb(51, 51, 51);
	clear: none;
	clip: auto;
	clip-path: none;
	clip-rule: nonzero;
	color: rgb(51, 51, 51);
	color-interpolation: srgb;
	color-interpolation-filters: linearrgb;
	color-rendering: auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule-color: rgb(51, 51, 51);
	column-rule-style: none;
	column-rule-width: 0px;
	column-span: none;
	column-width: auto;
	contain: none;
	content: '';
	counter-increment: none;
	counter-reset: none;
	cursor: default;
	cx: 0px;
	cy: 0px;
	d: none;
	direction: ltr;
	display: block;
	dominant-baseline: auto;
	empty-cells: show;
	fill: rgb(0, 0, 0);
	fill-opacity: 1;
	fill-rule: nonzero;
	filter: none;
	flex-basis: auto;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: nowrap;
	float: none;
	flood-color: rgb(0, 0, 0);
	flood-opacity: 1;
	font-feature-settings: normal;
	font-kerning: auto;
	font-size: 13px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variation-settings: normal;
	font-weight: 500;
	grid-auto-columns: auto;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	grid-column-end: auto;
	grid-column-start: auto;
	grid-row-end: auto;
	grid-row-start: auto;
	grid-template-areas: none;
	grid-template-columns: none;
	grid-template-rows: none;
	height: 12px;
	hyphens: manual;
	image-rendering: auto;
	inline-size: 12px;
	isolation: auto;
	justify-content: normal;
	justify-items: normal;
	justify-self: auto;
	left: 42.5938px;
	letter-spacing: normal;
	lighting-color: rgb(255, 255, 255);
	line-break: auto;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	marker-end: none;
	marker-mid: none;
	marker-start: none;
	mask: none;
	mask-type: luminance;
	max-block-size: none;
	max-height: none;
	max-inline-size: none;
	max-width: none;
	min-block-size: 0px;
	min-height: 0px;
	min-inline-size: 0px;
	min-width: 0px;
	mix-blend-mode: normal;
	object-fit: fill;
	object-position: 50% 50%;
	offset-distance: 0px;
	offset-path: none;
	offset-rotate: auto 0deg;
	opacity: 1;
	order: 0;
	orphans: 2;
	outline-color: rgb(51, 51, 51);
	outline-offset: 0px;
	outline-style: none;
	outline-width: 0px;
	overflow-anchor: auto;
	overflow-wrap: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	overscroll-behavior-x: auto;
	overscroll-behavior-y: auto;
	padding-block-end: 0px;
	padding-block-start: 0px;
	padding-bottom: 0px;
	padding-inline-end: 0px;
	padding-inline-start: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	page: ;
	paint-order: normal;
	perspective: none;
	perspective-origin: 6px 6px;
	pointer-events: auto;
	position: absolute;
	quotes: ;
	r: 0px;
	resize: none;
	right: 16px;
	row-gap: normal;
	rx: auto;
	ry: auto;
	scroll-behavior: auto;
	scroll-margin-block-end: 0px;
	scroll-margin-block-start: 0px;
	scroll-margin-bottom: 0px;
	scroll-margin-inline-end: 0px;
	scroll-margin-inline-start: 0px;
	scroll-margin-left: 0px;
	scroll-margin-right: 0px;
	scroll-margin-top: 0px;
	stop-color: rgb(0, 0, 0);
	stop-opacity: 1;
	stroke: none;
	stroke-dasharray: none;
	stroke-dashoffset: 0px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-width: 1px;
	tab-size: 8;
	table-layout: auto;
	text-align: left;
	text-align-last: auto;
	text-anchor: start;
	text-combine-upright: none;
	text-decoration-color: rgb(51, 51, 51);
	text-decoration-line: none;
	text-decoration-skip-ink: auto;
	text-decoration-style: solid;
	text-indent: 0px;
	text-orientation: mixed;
	text-overflow: clip;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: none;
	text-underline-position: auto;
	top: -4px;
	touch-action: auto;
	transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
	transform-box: view-box;
	transform-style: flat;
	transition-delay: 0.15s;
	transition-duration: 0s;
	transition-property: all;
	transition-timing-function: ease;
	transform-origin: 6px 6px;
	unicode-bidi: normal;
	user-select: none;
	vector-effect: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	widows: 2;
	width: 12px;
	will-change: auto;
	word-break: normal;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	x: 0px;
	y: 0px;
	z-index: 100;
	zoom: 1;
}
