@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.picker-search-container {
	align-items: center;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-color: rgba(0, 0, 0, 0.08);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgba(0, 0, 0, 0.08);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.08);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.08);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	clear: none;
	color: rgb(0, 0, 0);
	cursor: default;
	display: flex;
	flex-shrink: 0;
	float: none;
	/* font-size: 16px;
	font-weight: 500; */
	height: 48px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: border-color;
	transition-timing-function: ease-in-out;
	visibility: visible;
	width: 290px;
}

.search-icon {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/search.svg');
	box-sizing: border-box;
	color: rgb(153, 153, 153);
	cursor: default;
	display: block;
	font-size: 16px;
	font-weight: 500;
	height: 24px;
	left: 8px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-size-adjust: 100%;
	top: 15px;
	visibility: visible;
	width: 17px;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

.twitter-typehead {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	direction: ltr;
	display: block;
	/* font-size: 16px;
	font-weight: 500; */
	height: 46.4px;
	line-height: 16px;
	position: relative;
	text-size-adjust: 100%;
	visibility: visible;
	width: 288px;
	-webkit-font-smoothing: antialiased;
}

.dtp-picker-search-autocomplete {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: none;
	box-sizing: border-box;
	clear: both;
	color: rgb(0, 0, 0);
	cursor: text;
	direction: ltr;
	display: inline-block;
	font-size: 16px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	/* font-weight: 400; */
	height: 46.6px;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 13px;
	padding-left: 39px;
	padding-right: 15px;
	padding-top: 12px;
	position: relative;
	text-align: start;
	text-indent: 0px;
	text-overflow: ellipsis;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	vertical-align: top;
	visibility: visible;
	white-space: nowrap;
	width: 478px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;
	-webkit-border-image: none;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}



