@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.help-container {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 58.7656px;
	-webkit-font-smoothing: antialiased;
}

.help-menu:hover {
	color: #333;
}

.help-menu {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(113, 113, 113);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 28px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(113, 113, 113);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 58.7656px;
	-webkit-font-smoothing: antialiased;
}

.for-container {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	line-height: 13px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.for-menu:hover {
	color: #333;
}

.for-menu {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(113, 113, 113);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 28px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(113, 113, 113);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 116.453px;
	-webkit-font-smoothing: antialiased;
}

.topbar {
	background-color: rgb(247, 247, 247);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: BrandonText, -apple-system, system-ui, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 13px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.topbar-menu-navi {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	float: right;
	font-family: BrandonText, -apple-system, system-ui, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	line-height: 13px;
	margin-right: -8px;
	min-height: 0px;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

