@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.topsearchbar {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	top: -119px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.location-picker {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	-internal-root-colorhtmlcursor: default;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 16px;
	margin-left: 16px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	right: 0px;
	text-size-adjust: 100%;
	top: 0px;
	width: 352.484px;
	-webkit-font-smoothing: antialiased;
}

.location-picker::after {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.06);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	content: '';
	display: block;
	height: 54px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 1px;
}

.top-bar-nav {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	-internal-root-colorhtmlcursor: default;
	display: block;
	float: right;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	line-height: 16px;
	margin-right: -8px;
	text-size-adjust: 100%;
	width: 207.344px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-li {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 49.2031px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-link {
	display: block;
	line-height: 3.375rem;
	padding: 0 1rem;
	position: relative;
	color: #333;
}

.icon-search {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline;
	font-size: 17.2px;
	font-style: italic;
	font-weight: 500;
	height: auto;
	align-content: center;
	line-height: 57.2px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.icon-search::before {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/search.svg');
	content: ' ';
	display: block;
	height: 20px;
	width: 20px;
	font-weight: normal;
	background-repeat: no-repeat;
	position: relative;
	top: 16.5px;
	left: 3px;
	filter: invert(15%) sepia(21%) saturate(5%) hue-rotate(9deg) brightness(96%)
		contrast(87%);
}

.upcoming-reservation-calendar {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 50px;
	-webkit-font-smoothing: antialiased;
}

.upcoming-reservation-calendar::after {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.06);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	content: '';
	display: block;
	height: 27px;
	position: absolute;
	right: -3px;
	top: 13.5px;
	width: 1px;
}

.user-info-container {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	bottom: 1px;
	left: 7px;
	text-align: left;
	text-size-adjust: 100%;
	width: 108.141px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-username {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 54px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 32px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(51, 51, 51);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 108.141px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-username::after {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/down-chevron.svg');
	display: block;
	content: ' ';
	width: 13px;
	height: 13px;
	float: right;
	position: relative;
	left: 22px;
	bottom: 32px;
	filter: invert(60%) sepia(5%) saturate(18%) hue-rotate(324deg)
		brightness(103%) contrast(81%);
}

.top-bar-selection {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 0px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-inline-start: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	width: 207.344px;
	-webkit-font-smoothing: antialiased;
}

.reservation {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 54px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-decoration-color: rgb(51, 51, 51);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 50px;
	-webkit-font-smoothing: antialiased;
}

.reservation::before {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/new+calendar+1.svg');
	display: block;
	position: relative;
	top: 17px;
	content: ' ';
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	filter: invert(60%) sepia(5%) saturate(18%) hue-rotate(324deg)
		brightness(103%) contrast(81%);
	-webkit-font-smoothing: antialiased;
}

.menu-wrapper {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 50px;
	-webkit-font-smoothing: antialiased;
}

.oc-component {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: 50px;
	-webkit-font-smoothing: antialiased;
}

.logo-pic {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/Logo_horizontal_RGB-156x36-0efdb16.png');
	display: block;
	float: left;
	width: 156px;
	height: 54px;
	background-repeat: no-repeat;
}

.location-toggle-menu {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 54px;
	margin-left: 16px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 20px;
	padding-top: 0px;
	position: relative;
	text-decoration-color: rgb(51, 51, 51);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	width: 320.484px;
	-webkit-font-smoothing: antialiased;
}

.location-picker:hover{
	cursor: pointer;
}

.location-toggle-menu::before {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/placeholder+(1).svg');
	display: block;
	content: ' ';
	width: 22px;
	height: 20px;
	float: left;
	position: absolute;
	left: -3px;
	top: 18px;
	background-repeat: no-repeat;
	filter: invert(100%) sepia(0%) saturate(2527%) hue-rotate(306deg)
		brightness(93%) contrast(87%);
}

.location-picker-metro {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 54px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 22px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	width: 181.969px;
	-webkit-font-smoothing: antialiased;
}

.location-picker-metro::after {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/chevron.svg');
	content: ' ';
	display: block;
	position: relative;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	filter: invert(79%) sepia(11%) saturate(13%) hue-rotate(326deg)
		brightness(87%) contrast(92%);
	left: 165px;
	bottom: 32px;
}

.location-picker-region {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 54px;
	line-height: 54px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	width: 94.5156px;
	-webkit-font-smoothing: antialiased;
}

.location-picker-region::after {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/down-chevron.svg');
	content: ' ';
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	right: -5px;
	bottom: 19px;
	filter: invert(79%) sepia(11%) saturate(13%) hue-rotate(326deg)
		brightness(87%) contrast(92%);
}

.location-picker-menu::after {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.06);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	content: '';
	display: block;
	height: 54px;
	left: 351.484px;
	position: absolute;
	left: 355px;
	top: 0px;
	width: 1px;
}

.location-menu-container-closed {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 0px;
	left: -152px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 0px;
	min-width: 150px;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-size-adjust: 100%;
	transform: matrix3d(
		1,
		0,
		0,
		0,
		0,
		1,
		0,
		0,
		0,
		0.0266667,
		1,
		-0.00166667,
		0,
		-16,
		0,
		1
	);
	transition-delay: 0s, 0s, 0s, 0.15s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	width: 640px;
	-webkit-font-smoothing: antialiased;
}

.location-menu-container-opened {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 502px;
	left: -152px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 1120px;
	min-width: 150px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-size-adjust: 100%;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166667, 0, 0, 0, 1);
	transition-delay: 0s, 0s, 0s, 0.15s;
	transition-duration: 0.15s, 0.15s, 0.15s, 0s;
	transition-property: transform, opacity, position, max-height;
	transition-timing-function: ease-out, ease-out, ease-out, ease;
	user-select: none;
	width: 640px;
	-webkit-font-smoothing: antialiased;
}
