@font-face {
	font-family: Brandon;
	src: url('./Brandon.otf') format('opentype');
}

.topsearchbar {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	top: -119px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	top: 1px;
}

.top-bar-nav {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	-internal-root-colorhtmlcursor: default;
	display: block;
	float: right;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	line-height: 16px;
	margin-right: -8px;
	text-size-adjust: 100%;
	width: 207.344px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-li {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: list-item;
	float: left;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 57px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	text-size-adjust: 100%;
	width: 49.2031px;
	-webkit-font-smoothing: antialiased;
}

.top-bar-nav-link {
	display: block;
	line-height: 3.375rem;
	padding: 0 1rem;
	position: relative;
	color: #333;
}

.icon-search {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline;
	font-size: 17.2px;
	font-style: italic;
	font-weight: 500;
	height: auto;
	align-content: center;
	line-height: 57.2px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.icon-search::before {
	background-image: url('https://s3-us-west-1.amazonaws.com/exzerone1/search.svg');
	content: ' ';
	display: block;
	height: 20px;
	width: 20px;
	font-weight: normal;
	background-repeat: no-repeat;
	position: relative;
	top: 16.5px;
	left: 3px;
	filter: invert(15%) sepia(21%) saturate(5%) hue-rotate(9deg) brightness(96%)
		contrast(87%);
}

.top-bar-selection {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Brandon;
	font-size: 16px;
	font-weight: 500;
	height: 0px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-inline-start: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	width: 207.344px;
	-webkit-font-smoothing: antialiased;
}

.logo-text {
	/* background-image: url("data:image/svg+xml;charset=utf-8,"); */
	/* display: block; */
	float: left;
	position: relative;
	/* top: 10px; */
	width: 156px;
	height: 54px;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: text-top;
	right:20px;
	font-size:24px;
	font-weight: bold;
	color: #2d333f;
	bottom:11px;
}

.logo-pic {
	position: relative;
	top:16px;
}

.upcoming-res-link {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(85, 26, 139);
	cursor: pointer;
	display: block;
	float: left;
	font-family: Brandon;
	font-size: 14px;
	font-weight: 500;
	height: 19px;
	line-height: 19.6px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 16px;
	text-align: left;
	text-decoration-color: rgb(0, 0, 238);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	user-select: none;
	-webkit-font-smoothing: antialiased;
}
